<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="left">
        <div class="flex-item"><input type="text" placeholder="tutorial-name eg-mysirg" #name></div>
        
        <div class="flex-item"><input type="text" placeholder="tutorial-url eg-https://mysirg.com" #url></div>
        
        <div class="flex-item"><button (click)="addTutorial(name.value,url.value)">Add a Tutorial</button></div>
        
        
        </div>

</body>
</html>
